python-telegram-bot>=20.0
feedparser
newspaper3k
sumy
python-dotenv
lxml_html_clean
pandas
asyncpg
aiosqlite
tinkoff-investments

tinkoff-investments>=0.2.0b113
matplotlib
mplfinance
google-generativeai
